<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css?family=Righteous&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Just+Me+Again+Down+Here&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='home_fix/home_fix.css') }}"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css"
            rel="stylesheet"
            media="print"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"
        />
    </head>
    <body>
        <div class="content">
            <div class="side-content">
                <div id="logo">
                    <img
                        src="{{ url_for('static', filename='logo/IMG_1986.png') }}"
                        alt="logo"
                    />
                </div>
                <!-- NAVIGATION -->
                <div class="navigation">
                    <form
                        action="{{url_for('home',home_email= user_email)}}"
                        method="GET"
                    >
                        <div class="eachbutton">
                            <button class="nav-button" type="submit">
                                HOME
                            </button>
                        </div>
                    </form>
                    <form
                        action="{{url_for('find_friends_last',find_friend_email=user_email)}}"
                        method="GET"
                    >
                        <div class="eachbutton">
                            <button class="nav-button-other">EXPLORE</button>
                        </div>
                    </form>
                    <form
                        action="{{url_for('find_study_sessions',find_study_email=user_email)}}"
                        method="GET"
                    >
                        <div class="eachbutton">
                            <button class="nav-button-other">STUDY</button>
                        </div>
                    </form>
                    <form action="{{url_for('login')}}" method="GET">
                        <div class="eachbutton">
                            <button class="nav-button-other">SIGN OUT</button>
                        </div>
                    </form>
                </div>

                <!-- ADD TASK -->
                <div class="task">
                    <form>
                        <h1>Add New Task</h1>
                        <input
                            type="text"
                            id="myInput"
                            placeholder="Title"
                            class="task-title"
                        />

                        <select id="language" onChange="update()">
                            <option value="en">Do not repeat</option>
                            <option value="es">every week</option>
                            <option value="pt">every day</option>
                        </select>

                        <div class="datetime">
                            <input
                                type="date"
                                class="littles"
                                id="startdate"
                                placeholder="Start Date"
                            />
                            <input
                                type="time"
                                class="littles"
                                id="starttime"
                                placeholder="Start Time"
                            />

                            <input
                                type="date"
                                class="littles"
                                id="enddate"
                                placeholder="End Date"
                            />
                            <input
                                type="time"
                                class="littles"
                                id="endtime"
                                placeholder="End Time"
                            />
                        </div>

                        <div class="task-type">
                            <div class="radio-title">Type:</div>
                            <div class="radio">
                                <input
                                    type="radio"
                                    id="personal"
                                    name="drone"
                                    value="personal"
                                    checked
                                />
                                <label for="personal">personal</label>
                            </div>
                            <div class="radio">
                                <input
                                    type="radio"
                                    id="official"
                                    name="drone"
                                    value="official"
                                />
                                <label for="official">official</label>
                            </div>
                        </div>

                        <input
                            type="text"
                            class="task-desc"
                            id="url-note"
                            placeholder="Add url..."
                        />

                        <div class="save-cancel">
                            <button class="save-button" id="save-btn">
                                Save
                            </button>
                            <button class="cancel-button" id="cancel-btn">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-content">
                <!-- DATE -->
                <div class="date-frame">
                    <h1>Today's Schedule</h1>
                    <div
                        id="DigitalDate"
                        class="date"
                        onload="showDate()"
                    ></div>
                </div>


                <!--SOCIAL BUTTONS-->
                <div class="scroll-calender">
                    <div class="frame-calender" id="scrolls">
                        <button
                            id="social-btn"
                            onclick="window.open('https://mail.google.com/','_blank')"
                        >
                            Open Your Mail
                        </button>
                        <button
                            id="social-btn"
                            onclick="window.open('https://www.instagram.com/','_blank')"
                        >
                            <!-- onclick="window.location.href='https://www.instagram.com/'" -->
                            Open Instagram
                        </button>
                        <button
                            id="social-btn"
                            onlick="window.open('https://lms.monash.edu/my/','_blank')"
                        >
                            <!-- onclick="window.location.href='https://lms.monash.edu/my/'" -->
                            Open Moodle
                        </button>
                    </div>
                </div>

                <!-- TIMETABLE -->
                <div class="scroll">
                    <div class="frame">
                        <div class="ui container">
                            <div class="ui grid">
                                <div class="ui sixteen column">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-content">
                <!-- PROFILE -->
                <div class="profile">
                    <img />
                    <div class="profile-content">
                        <h1>{{fullname}}</h1>
                        <h2>{{faculty}}</h2>
                        <!-- em={{user_email}}
                        <form action="{{url_for('profile',profile_email=em)}}" method="GET"> -->
                        <form
                            action="{{url_for('home',home_email=user_email)}}"
                            method="POST"
                        >
                            <button
                                name="show_profile"
                                value="Show More"
                                type="submit"
                            >
                                Show More
                            </button>
                        </form>
                        <!-- </form> -->
                    </div>
                </div>
                <!-- CLOCK -->
                <div class="clock-frame">
                    <div
                        id="DigitalCLOCK"
                        class="clock"
                        onload="showTime()"
                    ></div>
                </div>
                <!-- TODO LIST -->
                <div id="myDIV" class="header">
                    <h1>TODO LIST</h1>
                    <form
                        action="{{url_for('home',home_email=user_email)}}"
                        method="POST"
                    >
                        <ul id="myUL">
                            <div class="eachlist">
                                <input
                                    type="text"
                                    id="myInput"
                                    name="td"
                                    placeholder="Type something..."
                                    value="{{td1}}"
                                />
                                <input type="checkbox" class="btn-check"
                                id="btn-check1" autocomplete="off" name="c" value="c1"
                                {{'checked' if c1=="on" else ''}} />
                                <label
                                    class="btn btn-primary tick"
                                    for="btn-check1"
                                    ><i class="bi bi-check-lg"></i
                                ></label>
                            </div>
                            <div class="eachlist">
                                <input
                                    type="text"
                                    id="myInput"
                                    name="td"
                                    placeholder="Type something..."
                                    value="{{td2}}"
                                />
                                <input type="checkbox" class="btn-check"
                                id="btn-check2" autocomplete="off" name="c" value="c2"
                                {{'checked' if c2=="on" else ''}} />
                                <label
                                    class="btn btn-primary tick"
                                    for="btn-check2"
                                    ><i class="bi bi-check-lg"></i
                                ></label>
                            </div>
                            <div class="eachlist">
                                <input
                                    type="text"
                                    id="myInput"
                                    name="td"
                                    placeholder="Type something..."
                                    value="{{td3}}"
                                />
                                <input type="checkbox" class="btn-check"
                                id="btn-check3" autocomplete="off" name="c" value="c3"
                                {{'checked' if c3=="on" else ''}} />
                                <label
                                    class="btn btn-primary tick"
                                    for="btn-check3"
                                    ><i class="bi bi-check-lg"></i
                                ></label>
                            </div>
                            <div class="eachlist">
                                <input
                                    type="text"
                                    id="myInput"
                                    name="td"
                                    placeholder="Type something..."
                                    value="{{td4}}"
                                />
                                <input type="checkbox" class="btn-check"
                                id="btn-check4" autocomplete="off" name="c" value="c4"
                                {{'checked' if c4=="on" else ''}} />
                                <label
                                    class="btn btn-primary tick"
                                    for="btn-check4"
                                    ><i class="bi bi-check-lg"></i
                                ></label>
                            </div>
                            <div class="eachlist">
                                <input
                                    type="text"
                                    id="myInput"
                                    name="td"
                                    placeholder="Type something..."
                                    value="{{td5}}"
                                />
                                <input type="checkbox" class="btn-check"
                                id="btn-check5" autocomplete="off" name="c" value="c5"
                                {{'checked' if c5=="on" else ''}} />
                                <label
                                    class="btn btn-primary tick"
                                    for="btn-check5"
                                    ><i class="bi bi-check-lg"></i
                                ></label>
                            </div>
                        </ul>
                        <div class="save-cancel">
                            <button
                                type="submit"
                                value="Save"
                                name="savetodo"
                                class="save-button"
                                id="save-btn"
                            >
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            // Add a "checked" symbol when clicking on a list item
            var list = document.querySelector("ul");
            list.addEventListener(
                "click",
                function (ev) {
                    if (ev.target.tagName === "LI") {
                        ev.target.classList.toggle("checked");
                    }
                },
                false
            );

            // clock function
            function showTime() {
                var date = new Date();
                var h = date.getHours();
                var m = date.getMinutes();
                var s = date.getSeconds();
                var session = "AM";

                if (h == 0) {
                    h = 12;
                }

                if (h > 12) {
                    h = h - 12;
                    session = "PM";
                }

                h = h < 10 ? "0" + h : h;
                m = m < 10 ? "0" + m : m;
                s = s < 10 ? "0" + s : s;

                var time = h + ":" + m + ":" + s + " " + session;
                document.getElementById("DigitalCLOCK").innerText = time;
                document.getElementById("DigitalCLOCK").textContent = time;

                setTimeout(showTime, 1000);
            }

            showTime();

            //date function
            function showDate() {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var s = date.getFullYear();
                var session = date.getFullYear();

                const months = [
                    "Jan",
                    "Feb",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun",
                    "Jul",
                    "Aug",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dec",
                ];
                var month = months[date.getMonth()];

                const days = [
                    "",
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday",
                ];
                var day = days[date.getDay()];

                var time = day + ", " + d + " " + month + " " + session;
                document.getElementById("DigitalDate").innerText = time;
                document.getElementById("DigitalDate").textContent = time;

                setTimeout(showDate, 1000);
            }

            showDate();

            //slide-calender
            const buttonRight = document.getElementById("slideRight");
            const buttonLeft = document.getElementById("slideLeft");

            buttonRight.onclick = function () {
                document.getElementById("scrolls").scrollLeft += 160;
            };
            buttonLeft.onclick = function () {
                document.getElementById("scrolls").scrollLeft -= 160;
            };

            //show simple dates for calender
            function showSimpleDate() {
                var date = new Date();
                const days = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"];
                var d = date.getDate();
                var day = days[date.getDay()];

                //for (let i = 0; i < 14; i++) {
                //    var d = date.getDate() + i;
                //    var day = days[date.getDay() + i];
                //}

                var time = day + " " + d;
                document.getElementById("DigitalSimpleDate").innerText = time;
                document.getElementById("DigitalSimpleDate").textContent = time;

                setTimeout(showSimpleDate, 1000);
            }

            showSimpleDate();
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
        <script src="{{ url_for('static', filename='home_fix/script.js') }}"></script>
    </body>
</html>
