<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="login_style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='login/login_style.css') }}">
    <script type="text/javascript" src="login.js"></script>
    <title>Login form</title>
</head>


<body>
    <div class="background"></div>
    <div><h1>Log In</h1></div>
    <form action="{{url_for('login')}}" method="POST">
    <div><input type="text" name="email" id="email" placeholder="email"></div>
    <div><input type="text" name="password" id="password" placeholder="password"></div>
    <div><button name="login" id="login" type="submit">Log In</button></div>
    </form>
    <div><h2>Don't have an account?<a href="{{ url_for('signup') }}" method="GET">Create an account</a></h2></div>
    <!-- <div><h2>Don't have an account?<a href="../signup/signup.html">Create an account</a></h2></div> -->
</body>

</html>